body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fulljar {
    width: 100px;
    height: 150px;

}

.top {
    width: 80px;
    height: 20px;
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 0.5px;
    border-color: black;
    border-radius: 5px;
    margin-left: 10px;
}

.hole {
    width: 55px;
    height: 5px;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 0px;
    border-color: black;
    margin-left: 25px;
}

.jar {
    width: 100px;
    height: 130px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

.label {
    position:relative;
    top: 35%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 1px;
    padding:5px;
    text-align: center;
    font-family: Optima, sans-serif;
    color:black;
    font-size:10px;
}

/* .notes{
    margin-top:30%; 
} */

.note {
    width: 55px;
    height: 20px;
    font-family: Optima, sans-serif;
    font-size: 2px;
}

.note1 {
    background-color: lightcoral;
}

.note2 {
    background-color: lightblue;
}

.note3 {
    background-color: lightsalmon;
}


