@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/Scripts/main.js")
@Scripts.Render("~/Content/main.css")

<div class="fulljar">
    <div class="top"></div>
    <div class="hole"></div>
    <div class="jar">
        <div class="label">GRATIDÃO</div>
        <div class="notes">

        </div>
    </div>
</div>