@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script>
        $(function(){
            $("#txt").val();
        })
    </script>
}


<div class="fulljar">
    <div class="top"></div>
    <div class="hole"></div>
    <div class="jar">
        <div class="label">GRATIDÃO</div>
        <div class="notes">
            
        </div>
    </div>
</div>