@{
    ViewBag.Title = "Home Page";
}

<div class="fulljar">
    <div class="top"></div>
    <div class="hole"></div>
    <div class="jar">
        <div class="label">GRATIDÃO</div>
        <div class="notes">
            
        </div>
    </div>
</div>