@model List<GreatfulWeb.Model.Db.Model.Greatful>

@{
    ViewBag.Title = "Notas";
}

<h2>Notas de Agradecimento</h2>

<div>
    <hr />
    <div class="row" id="notes">
        @foreach (var m in Model)
        {
            <div class="col-sm-1" style="margin-left:10px;">
                <i class="glyphicon glyphicon-hand-up"></i>
                <p class="motive">@m.GreatfulFor</p>
                <p>@m.Date.ToString("dd/MM/yyyy")</p>
            </div>
        }

    </div>
</div>
</br></br></br></br>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/TweenMax.min.js"></script>
<script src="~/Scripts/listpage.js"></script>
