@model List<GreatfulWeb.Model.Db.Model.Greatful>

@{
    ViewBag.Title = "Notas";
}

<h2>Notas de Agradecimento</h2>

<div>
    <hr />
    <table style="width:50%;" class="table table-bordered table-condensed table-responsive">
        <thead>
            <tr>
                <th>Motivo<i id="hand" class="glyphicon glyphicon-hand-up"></i></th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.GreatfulFor</td>
                    <td>@m.Date.ToString("dd/MM/yyyy")</td>
                </tr>
            }

        </tbody>
    </table>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/TweenMax.min.js"></script>
<script src="~/Scripts/listpage.js"></script>
